*{
    font-family: "Josefin Sans", sans-serif;
}
body{
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: white;
    font-size: 4em;
}