*{
    font-family: "Josefin Sans", sans-serif;
}
body{
    margin: 0;
    background-color: rgb(27, 27, 27);
    height: 100vh
}
h1{
    border-left: 2px solid white;
    padding-left: 1vh;
    margin: 40px 0px 20px;
    color: white;
    font-size: 4em;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}