.comment{
    background: #c7c5c5;
    background: linear-gradient(136deg, rgb(232, 231, 231) 65%, rgba(189, 189, 189, 0.58) 90%);
    border-radius: 30px;
    padding-left: 20px;
}

.comment-text {
    font-weight: bold;
    color:black;
    padding-bottom: 15px;
}

.comment-date {
    font-weight: normal;
}