.feed{
    display: flex-start;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}

.feed-post-box{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    height: 75vh;
}

.feed-post-box>*{
    margin-top: 4vh;
}