.test {
    color:#f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    
}

.test>form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    height: 80%;
}

.email{
    font-size:50px;
    background:#1b1b1b;
    border: none;
    color: #cbc2c2;
    /* padding-top: 90px; */
}

.password{
    font-size:50px;
    background-color: #1b1b1b;
    border: none;
    color:#cbc2c2;
    /* padding-top: 90px; */
}

form>button{
    width: 60%;
    height: 12%;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.link{
    color: #555151;
    font-size: 30px;
}

@media screen and (max-width: 680px) {
  
 
    .email{
        width: 100%;
    }
 
    .password{
        width: 100%;
    }



}