.post-username, .post-content, .post-date-infos{
    margin: 1vh 0 0;
}

.post{
    color: white;
    background: #000000;
    background: linear-gradient(148deg, rgba(0, 0, 0, 1) 50%, rgba(102, 100, 100, 1) 100%);
    border-radius: 20px;
    padding: 1vh 2vh 2vh;
    box-shadow: 0px 5px 5px rgb(61, 61, 61);
}

.post-date-infos{
    color: gray;
}

