.Profil
{
    width: 80vw;
    height: 800px;
}

.profil-head
{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    h2{
        font-size: 2.5em;
    }
}
.profil-allpost{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    overflow: scroll;
    height: 60vh;
}