.register {
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: 85vh;
}

.register>form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    height: 80%;
}

.reg-input {
    font-size: 2em;
    background: #1b1b1b;
    border: none;
    color: #cbc2c2;
    width: 85vw;
}

button {
    font-size: 20px;
    width: 50%;
    height: 10%;
    border-radius: 8px;
}

@media screen and (max-width: 680px) {
  
    .register>form{
        width: 100%;
    }



}